.card{
    border: 1px solid #dcdcdc;
    width: 320px;
    margin-bottom: 16px;
    box-shadow: 0px 10px 13px -7px #000000, 8px 7px 12px 1px rgba(220,220,220,0);
}
.card:hover{
    transform:scale(1.05) ;
}
.card .card__img{
    width: 100%;
}
.card .card__img img{
    width: 100%;
    height: 150px;
}
.card .content{
    padding: 10px 20px;
}
.card .content h2{
    text-transform: capitalize;
    margin-bottom: 8px;
}
.card .content p{
    font-size: 12px;
    margin-bottom: 12px;
}

.card .content a {
    text-decoration: none;
    color: #1a1a1a;
    padding: 4px 20px;
    background-color: #dcdcdc;
    border-radius: 12px;
}